<div class="long-url-form">
  <%= form_for :url, url: urls_path do |f| %>
    <%= f.label "Paste your long url here" %>
    <%= f.text_field :long %>
    <%= f.submit "Shorten URL" %>
  <% end %>
</div><hr>
<form class="search-form">
  <input type="text" placeholder="Search by keyword" id="search">
</form>

Sort By: <%= link_to "Created At", "#", id: "show-created-at", class: "colorize"  %>
<%= link_to "Most Popular", "#", id: "show-popular" %><br>


<div class="created-when" id="created-at">
  <% if @urls_time.present? %>
    <table>
      <tr>
        <th><h4>Long URL</h4></th>
        <th></th>
        <th><h4>Shortened URL</h4></th>
        <th></th>
        <th>Created</th>
        <th></th>
        <th>Clicks</th>
      </tr>
      <% @urls_time.each do |url| %>
        <tr>
          <td>
            <p><%= url.long %></p>
          </td>
          <td>
          </td>
          <td>
             <p><%= link_to url.short, url_path(url) %></p>
          </td>
          <td>
          </td>
          <td>
            <p><%= distance_of_time_in_words(Time.now, url.created_at) %> ago</p>
          </td>
          <td>
          </td>
          <td>
            <p><%= url.count %></p>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<div class="popular hidden" id="popular">
  <% if @urls_popular %>
    <table>
      <tr>
        <th><h4>Long URL</h4></th>
        <th></th>
        <th><h4>Shortened URL</h4></th>
        <th></th>
        <th>Created</th>
        <th></th>
        <th>Clicks</th>
      </tr>
      <% @urls_popular.each do |url| %>
        <tr>
          <td>
            <p><%= url.long %></p>
          </td>
          <td>
          </td>
          <td>
             <p><%= link_to url.short, url_path(url) %></p>
          </td>
          <td>
          </td>
          <td>
            <p><%= distance_of_time_in_words(Time.now, url.created_at) %> ago</p>
          </td>
          <td>
          </td>
          <td>
            <p><%= url.count %></p>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
