<!DOCTYPE html>
<html>
<head>
  <title>JetFuel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash-messages">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: "alert-danger text-center muted", role: "alert" %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
